* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html, body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: var(--font-body);
    line-height: 1.5;
}

img, picture, video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, select, textarea {
   border: none;
   background: none;
}
button {
cursor: pointer;
}

ul, ol {
    list-style: none;
}